.venv
desktop_app/build/
desktop_app/dist/
desktop_app/Output/
desktop_app/Absconditus.spec
desktop_app/passwords.dat
desktop_app/salt.key
desktop_app/Absconditus_GUI.spec
desktop_app/Absconditus_Service.spec
desktop_app/commands.txt